n8n/sitemapIndex_to_supabase.json
{
  "name": "SitemapIndex to Supabase",
  "nodes": [
    {
      "parameters": {},
      "id": "257ae05f-3242-4808-ab0e-406120621574",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        1400
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.loc }}",
        "options": {}
      },
      "id": "d246e649-96b8-4654-a2c3-bc7b7b57159e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        1400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0d914126-d6ad-40b0-911f-63ec4edcea6e",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -160,
        1400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b31a4d9b-5bb9-4fcf-8382-e65b3959b02e",
              "name": "loc",
              "value": "https://www.google.com/sitemap.xml",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        1400
      ],
      "id": "01b3e04a-8e57-4b04-b8bc-9c878c66d9f9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sitemapindex.sitemap",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        20,
        1400
      ],
      "id": "ea5a71cb-bd19-4b46-8f11-c9f484162d02",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vizvNZMZevqqTctR",
          "mode": "list",
          "cachedResultName": "Sitemap To Vector Store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "loc": "={{ $json.loc }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "loc",
              "displayName": "loc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        420,
        1560
      ],
      "id": "fee4563d-064d-47fb-8b3b-22a2f1f4abf2",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        1400
      ],
      "id": "897b16d8-bba1-4ca9-a32e-77dfc00685b3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "loc"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        460,
        1300
      ],
      "id": "c9b57710-9ea1-47bc-a1a7-7f132475dc1c",
      "name": "Execution Data"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c3523f2-9781-4964-b40e-1168108ac79c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "758584c41143bf078ee0b04ced934059439dc78f8152e22a93d5a87464d3a353"
  },
  "id": "nVxYjy0mnTE6UCBB",
  "tags": []
}